# Secrets
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDE settings
.idea/
.vscode/
test.py
#JSON file
config.json

#discord logs
discord.log

#Firestore stuff
serviceAccountKey.json